<div class="row">
	<!-- 产品展示类目 -->
	<div  class="col-md-4" >
		<ui-select ng-model="displayCategoryVo.bizUserDisplayClassObj"  theme="selectize"   
			 data-ng-change="displayCategoryVo.partnerCategoryObj=null;displayCategoryVo.subcategoryObj=null;
			 initBizUserDisplayClass();changeBizUserDisplayClass();"> 
			<ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
			<ui-select-choices repeat="item in bizUserDisplayClassList | filter: {name:$select.search}">
				<div ng-bind-html="item.name | highlight: $select.search"></div>
			</ui-select-choices>
	   </ui-select>
	</div>
	<div  class="col-md-4" >
		<ui-select ng-model="displayCategoryVo.partnerCategoryObj"  theme="selectize"
			 data-ng-change="displayCategoryVo.subcategoryObj=null;initPartnerCategory();changeDisplayPartnerCategory();"> 
			<ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
			<ui-select-choices repeat="item in displayCategoryVo.allDisplayCategoryList | filter: {name:$select.search}">
				<div ng-bind-html="item.name | highlight: $select.search"></div>
			</ui-select-choices>
	   </ui-select>
	</div>
	<div  class="col-md-4" >
		<ui-select ng-model="displayCategoryVo.subcategoryObj"  theme="selectize" 
			data-ng-change="initSubcategory();changeDisplaySubcategory();"> 
			<ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
			<ui-select-choices repeat="item in displayCategoryVo.partnerCategoryObj.displayCategoryWithChildList | filter: {name:$select.search}">
				<div ng-bind-html="item.name | highlight: $select.search"></div>
			</ui-select-choices>
	   </ui-select>
	</div>
</div>