<div class="row">
<!-- 酒批城市选择控件 -->
	<div class="col-md-6">
		<select  class="form-control" ng-change="jiupiCityVo.cityId=null;changeJiupiProvince(jiupiCityVo);"  
		ng-model="jiupiCityVo.provinceObj" ng-disabled="isDisabled"
			ng-options="provinceItem as provinceItem.province for provinceItem in allJiupiCityList track by provinceItem.province"> 
			<option value="" ng-hide="hidePleaseSelect"> 请选择 </option>
		</select>
	</div>
	<div class="col-md-6">
		<select  class="form-control"  ng-change="getJiupiCityObj(jiupiCityVo.cityId);changeJiupiCity(jiupiCityVo);"  ng-model="jiupiCityVo.cityId" 
			ng-disabled="isDisabled"
			ng-options="cityItem.id as cityItem.name for cityItem in jiupiCityVo.provinceObj.jiupiCityList">
			<option value="" ng-hide="hidePleaseSelect"> 请选择 </option>
    	</select>
	</div>
</div>