<div class="row">
<!-- 酒批城市选择控件 -->
	<div class="col-md-6">
		<select id="jiupiProvince" ng-change=""  ng-model="jiupiCityVo.procince" class="form-control"  ng-options="item as item.name for item in provinceList track by item.name"> </select>
	</div>
	<div class="col-md-6">
		<select  id="jiupiCity" ng-change="changeCity(cityVo);"  ng-model="cityVo.city" class="form-control"   
			ng-options="item as item.name for item  in cityList  track by item.name">
				<option  value="">请选择</option>
    	</select>
	</div>
</div>